 <% comments.each do |post_comment| %>
 <tr>
  <td>
   <%= link_to user_path(post_comment.user.id) do %>
    <% if post_comment.user.image.attached? %>
      <%= image_tag post_comment.user.image.variant(resize: '100x100' )  %>
    <% end %>
 	 <% end %>
 	 <p>
 	 <%= link_to user_path(post_comment.user.id) do %>
 	 <%= post_comment.user.name %>
   <% end %>
  </td>

  <td>
  	 <%= post_comment.body %>
  </td>
  <td>
  	 <% if post_comment.user == current_user %>
  	  <%= link_to "Destroy", post_comment_path(@post_detail, post_comment), method: :delete, "data-confirm" => "Are you sure?", class: "btn btn-sm btn-danger", remote: true %>
  	 <% end %>
  </td>

  </tr>
   <% end %>




