<body>
 <main class="mb-auto">
  <div class="container-fluid">
 	 <div class="row">
		<div class="col-md-3">
     <%= render "users/user_info", user: current_user %>
    </div>

    <div class="col-md-8 offset-md-1 bg-light text-center">
	   <h3 class="mt-4">フォローされているユーザー</h3>

	    <% if @users.exists? %>
	     <table class="table table-hover table-inverse">
	      <thead>
	       <tr>
	       </tr>
        </thead>

	      <tbody>
		     <% @users.each do |user| %>

					<tr>
						<td>
						<%= link_to user_path(user) do %>
							<% if user.image.attached? %>
								<%= image_tag user.image.variant(gravity: :center, resize: "50x50^", crop: "50x50+0+0"), class: "rounded-circle mx-auto" %>
							<% end %>
						<% end %>
						</td>
				    <td>
				    <%= link_to user_path(user) do %>
				  	  <%= user.name %>
				  	<% end %>
						</td>

						<td>
							フォロー: <%= user.followings.count %>
						</td>

						<td>
							フォロワー: <%= user.followers.count %>
						</td>

						<td>
						<% if current_user.following?(user) %>
							<p class="text-info"><i class="far fa-handshake"></i><strong>Myバディ</strong></p>
						<% else %>
						<% end %>
						</td>
					</tr>

					<% end %>
				</tbody>
			 </table>
			<% else %>
				<p>ユーザーはいません</p>
			<% end %>
		 </div>
		</div>
  </div>
 </main>
</body>