
<table class="table">
 <tbody>
 	<tr></tr>
 	<tr>
 		<th>
 		  <% if user.image.attached? %>
 		  　<%= image_tag user.image.variant(gravity: :center, resize: "150x150^", crop: "150x150+0+0") %>
 		  <% end %>
 		</th>
 	</tr>
 	<tr>
 		<th><%= image_tag user.body_type.image.variant(gravity: :center, resize: "20x20^", crop: "20x20+0+0") %><%= user.name  %></th>

  <% if user.introduction.present? %>
 	<tr>
 	 	<th><%= user.introduction %></th>
 	</tr>
 	<% else %>
 	<% end %>

 	<!--フォロー機能箇所-->
 	<tr>
 		<th>フォロー</th>
 		<th><%= link_to user_followings_path(user) do %>
 			<%= user.followings.count %>
 			<% end %></th>
 	</tr>
 	<tr>
 		<th>フォロワー</th>
 		<th><%= link_to user_followers_path(user) do %>
 			<%= user.followers.count %></th>
 			<% end %>
 	</tr>
 	<tr>
 		<th><%= link_to "プロフィール", user_path(current_user.id) %></th>
 	</tr>
 </tbody>
</table>

