
<table class="table">
 <tbody class="text-center">
 	<tr></tr>
 	<tr>
 		<th>
 		  <% if user.image.attached? %>
 		  　<%= image_tag user.image.variant(gravity: :center, resize: "150x150^", crop: "150x150+0+0"), class: "rounded-circle mx-auto" %>
 		  <% end %>
 		</th>
 	</tr>
 	<tr>
 		<th><%= image_tag user.body_type.image.variant(gravity: :center, resize: "20x20^", crop: "20x20+0+0") %><%= user.name  %></th>

 	<!--フォロー機能箇所-->
 	<tr>
 		<th class=""><i class="fas fa-arrow-alt-circle-right"></i>
  		<%= link_to user_followings_path(user) do %> フォロー (<%= user.followings.count %>)
  		<% end %>
 		</th>
  </tr>

  <tr>
 		<th class=""><i class="far fa-arrow-alt-circle-left"></i>
  		<%= link_to user_followers_path(user) do %> フォロワー (<%= user.followers.count %>)
  		<% end %>
 		</th>
  </tr>

 	<tr>
 		<th><i class="fas fa-user"></i><%= link_to " プロフィール", user_path(user) %></th>
 	</tr>
 	<tr>
 		<th><i class="fas fa-users"></i><%= link_to " フォローTL", user_follow_timelines_path(user) %></th>
 	</tr>
 	<tr>
 		<th><i class="fas fa-house-user"></i><%= link_to " ホームTL", mypage_path %></th>
 	</tr>
 </tbody>
</table>

