<body>
 <main class="mb-auto">
  <div class="container">
   <div class="row">
    <div class="col-md-3">
     <%= render "users/user_info", user: @user %>

    </div>

    <div class="col-md-8 offset-md-1">

        <%= render "posts/new_post", post: @post %>

        <% @posts.each do |post| %>

            <div>

            <%= @user.name %>
            <%= post.created_at %>

            </div>


            <div>
            <%= link_to post_path(post.id) do %>
            <%= post.body %>
            <% end %>

            </div>

            <div>

            <% if post.image.attached? %>
              <%= image_tag post.image %>
            <% end %>
            </div>


            <% if post.liked_by?(current_user) %> <!-- ログインしているユーザーがいいねしたかどうかで分岐 -->
                <p><span>いいね！をやめる: </span><%=link_to post.likes.count, post_likes_path(post.id), method: :delete %></p>
            <% else %>
                <p><span>いいね！する: </span><%=link_to post.likes.count, post_likes_path(post.id), method: :post %></p>
            <% end %>

         <% end %>

    </div>
   </div>
  </div>
 </main>

</body>