<body>
 <main class="mb-auto">
  <div class="container">
   <div class="row">
    <div class="col-md-3">
     <%= render "users/user_info", user: @user %>
     
    </div>

    <div class="col-md-8 offset-md-1">

        <%= render "posts/new_post", post: @post %>

        <% @posts.each do |post| %>

            <div>

            <%= @user.name %>
            <%= post.created_at %>

            </div>


            <div>
            <%= link_to post_path(post.id) do %>
            <%= post.body %>
            <% end %>

            </div>

            <div>

            <% if post.image.attached? %>
              <%= image_tag post.image %>
            <% end %>
            </div>

            <% end %>

    </div>
   </div>
  </div>
 </main>

</body>