<body>
 <main class="mb-auto">
  <div class="container">
   <div class="row">

    <div class="col-md-3">
     <%= render "users/user_info", user: @user %>
    </div>

    <div class="col-md-8 offset-md-1">

        <!--タグの一覧を表示する記述-->
        <h4>タグリスト</h4>
         <% @tag_list.each do |list| %>
          <%= link_to tag_posts_path(tag_id: list.id) do %>
           <%= list.tag_name %>
           <%= list.posts.count %>
          <% end %>
         <%end %>

        <%= render "posts/new_post", post: @post %>

        <% @posts.each do |post| %>

            <div>

            <%= @user.name %>
            <%= post.created_at %>

            </div>

            <div>
            <%= link_to post_path(post.id) do %>
            <%= post.body %>
            <% end %>

            </div>

            <div>

            <% if post.image.attached? %>
              <%= image_tag post.image %>
            <% end %>
            </div>

            <div id="likes_buttons_<%= post.id %>">
              <%= render partial: "likes/like", locals: { post: post } %>
            </div>

         <% end %>

    </div>
   </div>
  </div>
 </main>

</body>