<h2 class="mt-3">つぶやきを投稿</h2>

<%= form_with model: post, local:true do |f| %>

  <div class="form-group">
  <%= f.text_area :body, class: "form-control" %>
  </div>

  <div class="form-group">
  <p>"半角スペース"で区切ることで、複数のタグ付けができます。<br />
  例：スポーツ 秋 => 「スポーツ」「秋」のタグ付きで投稿</p>
  <%= f.text_field :tag_name, class: "form-control" %>

  </div>

  <%= f.file_field :image %>

  <%= f.submit "つぶやきを投稿", class: "btn btn-success" %>

<% end %>