<h2>つぶやきの詳細</h2>

  <%= @post.body  %>

　<% if @post.image.attached? %>
  <%= image_tag @post.image %>
  <% end %>

  <br>
  <p>タグ：</p>
  <% @post_tags.each do |tag|  %>
    <%= link_to tag_posts_path(tag_id: tag.id) do %>
      <%= tag.tag_name %>
      (<%= tag.posts.count %>)
    <% end %>
  <% end %>


  <div id="likes_buttons_<%= @post.id %>">
    <%= render partial: "likes/like", locals: { post: @post } %>
  </div>



  <div>
  コメント数:<%= @post.comments.count %>
  </div>

  <!--ここからコメント一覧の記述-->
  <div id="comments_<%= @post.id %>">
    <%= render "comments/comments", comments: @post.comments %>
  </div>

  <!--ここからコメント投稿の記述-->
  <div>
    <%= render "comments/form", post: @post, comment: @comment %>
  </div>


  <% if @post.user == current_user %>
	  <%= link_to "Destroy", post_path(@post.id), method: :delete, "data-confirm" => "Are you sure?", class: "btn btn-sm btn-danger" %>
	<% end %>

  <br />
	<%= link_to "マイページに戻る", mypage_path, class: "btn btn-sm btn-success" %>