<!DOCTYPE html>
<html>
  <head>
    <title>FRElo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- コード追加　Font Awesome読み込みコード-->
　　<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  </head>

  <!--<body class="d-flex flex-column vh-100">-->
  <body>

    <header class="shadow-sm fixed-top bg-light">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-0 my-0" href="/">
            <%= image_tag asset_path("logo.png"), size: '150x50' %>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">


            <% if user_signed_in? %>
              <li class="nav-item">
                <%= form_tag(search_path, method: :get) do %>
                 <i class="fas fa-search"></i>
                 <%= select_tag "range", options_for_select([["---選択してください---", ""], ["ユーザー", "1"] ,["つぶやき", "2"]]) %>
                 <%= select_tag "search", options_for_select([["前方一致", "forward_match"],["後方一致", "backward_match"], ["完全一致", "perfect_match"], ["部分一致", "partial_match"]]) %>
                 <%= text_field_tag (:word) %>
                 <%= submit_tag "検索" %>
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to 'ホーム', mypage_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %>
              </li>
            <% else %>
              <li class="nav-item">
               <%= link_to 'トップ', root_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark' %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="pb-110">
    <%= yield %>
    </main>
    <footer class="bg-dark text-white pt-3 pb-1 fixed-bottom">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-8">
            <p>一緒に健康を楽しむ「バディ」が見つかるSNS</p>
            <div class="small">Logo created by <a href="https://www.designevo.com/" title="Free Online Logo Maker">DesignEvo logo maker</a></div>
          </div>
          <div class="col-4">
            <%= link_to 'トップページ', root_path, class: 'nav-link text-white' %>
            <ul class="p-0 list-unstyled">
              <li>
                <%= link_to '利用規約', kiyaku_path, class: 'nav-link text-white' %>
              </li>
              <li>
                <%= link_to 'プライバシーポリシー', privacy_policy_path, class: 'nav-link text-white' %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
